{% extends "::base.html.twig" %}

{% block title %}AppBundle:User:read{% endblock %}

{% block body %}
<h1>User</h1>
{{ user.id }} -- {{ user.firstName }} -- {{ user.lastName }} -- {{ user.email }}
{% endblock %}
